.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  list-style-type: none;
}

.transEmpty {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  flex-basis: calc((100% - 20px) / 3);
  cursor: pointer;
  margin-bottom: 40px;
}
  .item:hover .svgContainer,
  .item:focus .svgContainer {
    background: var(--light-orange-color);
  }

  .item:hover .icon,
  .item:focus .icon {
    fill: var(--accent-color);
  }

 

.price {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--main-color);
}

.titleItem {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.iconContainer {
  margin-top: 12px;
  margin-bottom: 5px;
}

.svgContainer {
  display: flex;
  align-items: flex-end;
  width: 59px;
  height: 46px;
  background-color: var(--grey-bg-home-color);
  border-radius: 20px;
}

.svgContainerActive {
  width: 59px;
  height: 46px;
  background-color: var(--light-orange-color);
  border-radius: 20px;
}

.icon {
  fill: var(--dark-blue-color);
  width: 56px;
  height: 56px;
}

.iconActive {
  transform: translateX(-50%);
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .transItem {
    border-bottom: 1px solid var(--pseudoelement-color);
  }

  .item:after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 90px;
    height: 1px;
    border: 1px solid #E0E5EB;
    /* transform: rotate(-90deg); */
  }
}

@media screen and (min-width: 768px) {
  .reportList {
    width: 613px;
  }

  .item {
    margin-bottom: 40px;
    text-align: center;
    flex-basis: calc((100% - 70px) / 6);

   } 
   .item:not(:nth-child(6n)) {
      margin-right: 10px;
    }
  
}
