.tabPanelMobNoBalance {
  display: none;
}
.tabPanelMobBalance {
  display: block;

  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.tabListMobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabListMobileNot {
  display: none;
}

.tabsMobileL {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;

  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  background-color: var(--grey-bg-home-color);
  border-right: 1px solid white;
}
.tabsMobileR {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;

  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  background-color: var(--grey-bg-home-color);
  border-left: 1px solid white;
}

.tabsMobileL:hover,
.tabsMobileL:focus,
.tabsMobileR:hover,
.tabsMobileR:focus {
  color: white;
  background-color: var(--accent-color);
}

.selectedTabPanel {
  background-color: green;
}

.arrowWrapper {
  margin-bottom: 15px;
}

/* @media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 768px) {
 
} */
