.section {
  padding-top: 15px;
  background-image: url('../../images/homepage/bg-main.svg');
  background-repeat: no-repeat;
  background-position: left top -300px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 64px;

    background-image: url('../../images/homepage/bg-main.svg'),
      url('../../images/homepage/bg-desk-bot.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right 88px bottom 64px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 83px;
    background-image: url('../../images/homepage/bg-main.svg'),
      url('../../images/balance/bg-balance-bot.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center bottom -4px;
  }
}
