@media screen and (min-width: 320px) {
  .balanceInput {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: black;
    width: 125px;
    height: 44px;
    border: 2px solid #ffffff;
    border-radius: 22px 0 0 22px;
    outline: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .balanceInput {
    margin-left: 21px;
    margin-top: 0px;
    border-radius: 16px;
    text-align: center;
    color: black;
  }
}
@media screen and (min-width: 1280px) {
  .balanceInput {
    margin-left: 40px;
    margin-right: 15px;
    color: black;
    background-color: transparent;
    border-radius: 16px;
    text-align: center;
  }
}
