.charterReport {
  text-align: center;
  padding: 5px;
  background-color: white;

  background-color: #ffff;
}

@media screen and (min-width: 768px) {
  .charterReport {
    padding: 20px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}
