@media screen and (min-width: 320px) {
  .containerBalance {
    display: block;
    position: relative;
    background: inherit;
    width: 248px;
    margin: 0 auto 0px auto;
    justify-content: center;
    background-color: #f5f6fb;
  }
  .formBalance {
    display: flex;
    justify-content: space-between;
  }
  .balanceAndBtn {
    display: flex;
    margin-top: 6px;
  }

  .balanceLabel {
    position: relative;
    display: block;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    text-align: center;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .containerBalance {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    width: 668px;
    height: 44px;
  }
  .balanceLabel {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .balanceAndBtn {
    margin-top: 0px;
}
}

@media screen and (min-width: 1280px) {
  .containerBalance {
    width: 1060px;
    height: 44px;
    justify-content: end;
  }
}
