@media screen and (min-width: 320px) {
  .containerBalanse {
    display: block;
    position: relative;
    background: inherit;
    width: 248px;
    margin: 30px auto 40px auto;
    justify-content: center;
    background-color: #f5f6fb;
  }
  .formBalance {
    display: flex;
    justify-content: space-between;
  }

  .balanceSpan {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;

    color: var(--primary-text-color);
  }
  .balanceInput {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: black;
    width: 125px;
    height: 44px;
    border: 2px solid #ffffff;
    border-radius: 22px 0 0 22px;
    outline: none;
    background-color: transparent;
  }
  .confirmButton {
    background-color: transparent;
    /* padding-right: 20px; */
    text-align: center;
    width: 125px;
    height: 44px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    border: 2px solid #ffffff;
    border-radius: 0 22px 22px 0;
    outline: none;
    color: #52555f;
  }
  .confirmButton:hover,
  .confirmButton:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
  .link {
    display: flex;
    text-decoration: none;
    margin-bottom: 40px;
    justify-content: center;
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
  .goBalance {
    display: flex;
    color: var(--primary-text-color);
    align-items: center;
  }
  .svg {
    width: 14px;
    height: 14px;
    fill: var(--primary-text-color);
  }
}
@media screen and (min-width: 768px) {
  .containerBalanse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    width: 668px;
    height: 44px;
  }
  .confirmBalance {
    display: flex;
  }
  .balanceSpan {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .balanceInput {
    margin-left: 21px;
    margin-top: 0px;
    border-radius: 16px;
    text-align: center;
    color: black;
  }
  .confirmButton {
    background-color: transparent;
    border-radius: 16px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .containerBalance {
    width: 1060px;
    height: 44px;
  }

  .balanceSpan {
    display: flex;
    align-items: center;
  }
  .balanceInput {
    margin-left: 40px;
    margin-right: 15px;
    color: black;
    background-color: transparent;
    border-radius: 16px;
    text-align: center;
  }
  .confirmButton {
    background-color: transparent;
    border-radius: 16px;
    margin-left: 0px;
  }
}
