.containerBalance {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 40px;
}
.formBalance {
  text-align: center;
}

.balanceAndBtn {
  display: flex;
  margin-top: 6px;
}

.balanceLabel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  margin-bottom: 6px;
  color: var(--primary-text-color);
}

.balanceInput {
  position: relative;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
  width: 125px;
  height: 44px;
  border: 2px solid #ffffff;
  border-right: none;
  border-radius: 22px 0 0 22px;
  outline: none;
  background-color: transparent;
}
::placeholder {
  color: var(--black-text-color);
}

.confirmButton {
  background-color: transparent;
  /* padding-right: 20px; */
  text-align: center;
  width: 125px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 0 22px 22px 0;
  outline: none;
  color: var(--primary-text-color);
}

.confirmButton:hover,
.confirmButton:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .formBalance {
    display: flex;
    margin-left: 69px;
  }

  .confirmButton {
    background-color: transparent;
    border-radius: 16px;
    margin-left: 15px;
  }

  .containerBalance {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    width: 668px;
    height: 44px;
  }
  .balanceLabel {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .balanceAndBtn {
    margin-top: 0px;
  }

  .balanceInput {
    display: flex;
    margin-left: 21px;
    margin-top: 0px;
    border-radius: 16px;
    text-align: center;
    color: black;
    border-right: 2px solid #ffffff;
  }
}

@media screen and (min-width: 1280px) {
  .containerBalance {
    width: 1060px;
    height: 44px;
    justify-content: end;
  }

  .balanceInput {
    margin-left: 40px;
    margin-right: 15px;
    color: black;
    background-color: transparent;
    border-radius: 16px;
    text-align: center;
  }

  .confirmButton,
  .ReportsConfirmButton {
    background-color: transparent;
    border-radius: 16px;
    margin-left: 0px;
    margin-right: 205px;
  }
}

@media screen and (max-width: 1279px) {
  .ReportsConfirmButton {
    display: none;
  }
}
